* {
    font-family: "Montserrat", sans-serif;
}

body {
    max-width: 1182px;
    margin: auto;
}

.voltar-top {
    float: left;
    margin-left: 12px;
    margin-top: -7px;
    top: 10px;
}

.voltar-top:hover {
    opacity: 0.5;
}

.title-center {
    text-align: center;
    font-size: 10px;
}

.modal {
    display: none;
}

.home {
    display: block;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 15px;

    p {
        font-size: 15px;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#email-formulario {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 479px;
}

#novo-cadastro {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-email {
    padding: 10px;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    color: #2c7bff;
    border-bottom: 1px solid #ddd;
}

.container-itens {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    label {
        font-weight: bold;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 7px;
        display: flex;
        align-items: center;
    }

    input {
        outline: none;
        text-decoration: none;
        margin-bottom: 0;
        padding: 8px;
        border: 1px solid #ccc;
        width: 100%;
        border-radius: 5px;
    }

    button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        color: #fff;
        background-color: #2c7bff;
        cursor: pointer;
        margin-top: 10px;
    }

    button:hover {
        opacity: 0.5;
    }
}


div#modal {
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    margin: auto;
}

.titulo-top {
    display: flex;
    align-items: center;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    justify-content: center;
    border: 1;

    h1 {
        font-size: 16px;
    }


}

section {
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #f2f2f2;
}

.button-voltar {
    color: #fff;
    border-radius: 10px;
    padding: 10px 17px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #2c7bff;
}

.button-voltar:hover {
    opacity: 0.5;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campo-obrigatorio {
    color: #a94442;
}

.form {
    h3 {
        font-size: 17px;
    }

    label {
        font-size: 14px;
        margin-bottom: 10px;
    }

    input {
        padding: 7px 9px;
        border: 1px solid #c9c9c9;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
    }
}

input {
    min-height: 21px !important;
}

.cadastro {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 25px;
}

select#estadoCivil {
    padding: 6px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

select {
    padding: 6px;
    border: 1px solid #c9c9c9;
    border-radius: 9px;
    font-size: 14px;
    outline: none;
    min-height: 38px !important;
}

select#tipo {
    padding: 6px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

select#prioridade {
    padding: 6px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.text-area {
    width: 100%;
}

.senha {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.sigilo {
    height: 37px;
    background-color: #2c7bff;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container-itens .container-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}



.cad {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 30px;
    margin-bottom: 20px;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    label {
        margin: 0;
    }

    input {
        margin: 0;
    }
}


.container-itens .container-icons i {
    background: #e3e3e3;
    height: 37px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    color: #7b7b7b;
    border: 1px solid #c6c6c6;
    border-right: 0;
}

.container-itens .container-icons input {
    border-radius: 0 5px 5px 0;
}

input:focus {
    border-color: #2c7bff;
}

#recuperar-senha {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 467px;
}

#nova-senha {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}



p.msg-senha {
    font-size: 12px;
    margin: 0;
    color: red;
    margin-top: 5px;
}

textarea#mensagem {
    padding: 10px;
}

#esqueceu-senha {
    margin-bottom: 3px;
    background-color: transparent;
    color: blue;
}

p.confirmar-senha {
    font-size: 12px;
    margin: 0;
    color: red;
}

#criar-conta {
    /* margin-bottom: 16px; */
    background-color: transparent;
    color: black;
    margin-top: -18px;
}

div#div-nova-senha {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    font-size: 14px;
}

.header-web {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.brasao {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;

    img {
        width: 112px;
    }
}



.menu {
    background-color: #f2f2f2;
    border-radius: 5px;

    ul {
        display: flex;
        gap: 10px;
        list-style: none;

        button {
            background-color: transparent;
            outline: none;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
    }

    ;
    border-top: 1px solid #d7d7d7;
    border-radius: 0;
}

.menu ul button:hover {
    color: #2c7bff;
}

.fa-angle-down:before {
    content: "\f107";
    font-size: 16px;
}

.modalMenu {
    border: 2px solid #f2f2f2;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: bold;
    font-size: 14px;



    ul {
        list-style: none;
        padding-left: 8px;

        button {
            background-color: transparent;
            outline: none;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
    }
}

.modalMenu ul button:hover {
    color: #2c7bff;
}

.modalMenuPrefeito {
    padding-top: 10px;

    button {
        background-color: transparent;
        outline: none;
        font-weight: 500;
        border: none;
        cursor: pointer;
        text-align: start;
    }
}

.modalMenuSecretaria {
    padding-top: 10px;

    button {
        background-color: transparent;
        outline: none;
        font-weight: 500;
        border: none;
        cursor: pointer;
        text-align: start;
    }
}

.modalButton {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.container-principal {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 15px;
    padding-top: 0;
}

.menu-lateral {

    width: 250px;
    border-radius: 5px;

    h1 {
        font-size: 18px;
    }
}

.menu-left {
    background-color: #f2f2f2;
    padding: 15px;
    padding-bottom: 30px;
    padding-top: 7px;
    border-radius: 5px;
}

.button-lateral-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    button {
        background-color: transparent;
        outline: none;
        font-weight: 500;
        border: none;
        cursor: pointer;
        text-align: start;
    }
}

.button-lateral-menu button:hover {
    color: #2c7bff;

}

.header-mobile {
    display: none;
}

.button-lateral-menu button:hover {
    color: #2c7bff;

}




.menu-oculto {
    margin-bottom: 18px;

    .button-menu {
        border: none;
        font-size: 18px;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        padding: 13px;
        width: 100%;
        text-align: center;
        border-top: 1px solid gainsboro;
        border-radius: 0;
        border-bottom: 1px solid gainsboro;
        z-index: 1;
        cursor: pointer;
    }

    ;
    z-index: 1;
}

.fa-bars:before {
    content: "\f0c9";
    font-size: 18px;
}

#menu-modal-mobile {
    display: none;
    border: 1px solid #d9d9d9;
    background-color: #f2f2f2;
    margin-bottom: 22px;
    border-radius: 0;
    margin-top: -68px;
    z-index: 999999;
}

.menu-mobile {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;


    button {
        border: none;
        background-color: transparent;
        font-weight: bold;
        cursor: pointer;
    }

}

button.botao-fechar {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 14px;
    border: none;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    font-size: 18px;
}

.footer {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px 12px;
}

.div-botao-fechar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #A4A5A6;
}

.brasao {
    h1 {
        font-size: 24px;
    }
}

.redes-social {
    display: flex;
    gap: 10px;
    font-size: 21px;
    justify-content: center;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}




.endereco {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 5px;
    font-size: 13px;

    a {
        outline: none;
        text-decoration: none;
        color: black;
    }

    p {
        font-weight: bold;
    }

}

.politica {
    font-size: 13px;
}

.gw {
    font-size: 10px;
}

.consulta-protocolo {
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    /* margin-right: 130px; */
    margin-bottom: 30px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.protocolo-title {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    color: #2c7bff;
    border-bottom: 1px solid #ddd;

    h1 {
        font-size: 16px;
    }
}

.fundo {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 479px;
}

.protocolo-info {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        color: #fff;
        background-color: #2c7bff;
        cursor: pointer;
        margin-top: 10px;
    }
}

.input-protocolo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
        margin-top: 5px;
    }
}

.input-protocolo {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 7px;
    display: flex;
    /* align-items: center; */
}

input#protocolo {
    outline: none;
    text-decoration: none;
    margin-bottom: 0;
    padding: 8px;
    border: 1px solid #ccc;
    /* width: 100%; */
    border-radius: 5px;
}

input#dataProtocolo {
    outline: none;
    text-decoration: none;
    margin-bottom: 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px;
}

.info-senha-cad {
    background: #86999b;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
}

#brasao-footer {
    img {
        width: 112px;
    }

    h1 {
        font-size: 20px;
    }
}




@media screen and (max-width: 840px) {

    .menu ul {
        flex-direction: column;
    }
}



@media screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .text-area {
        width: 93%;
    }

    .home {
        margin: 10px 10px;

        p {
            font-size: 13px;
        }

        span {
            font-size: 16px;
        }
    }

    .cad {
        flex-direction: column;
        gap: 15px;
    }

    .senha {
        flex-direction: column;
    }

    .button-cad {
        width: 100%;
    }

    .button-voltar {
        width: 100%;
    }

    .sigilo {
        height: 65px;
    }

    #recuperar-senha {
        width: 100%;
    }

    #nova-senha {
        width: 100%;
    }

    .header-web {
        display: none;
    }

    .header-mobile {
        display: block;
        position: relative;
    }

    .menu-lateral {
        display: none;
    }

    .footer {
        margin: 10px 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .brasao {

        /* margin: 10px 10px; */
        img {
            width: 117px;
        }

        h1 {
            font-size: 16px;
        }
    }

    .consulta-protocolo {
        margin: 10px 10px;
    }

    #brasao-footer {
        display: none;
    }
}