* {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

body {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.atendimento {
    padding: 15px;
}

.container {
    /**/
    border: 1px solid #ddd;
    background-color: #2c7bff;
    border-radius: 5px;
    display: flex;
    margin-bottom: 30px;
}

.painel {
    border-right: 1px solid #ddd;
    padding: 15px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;

    span {
        background-color: #00000047;
        padding: 5px 10px;
        border-radius: 6px;
        color: #ffffff;
    }

    p {
        color: #fff;
    }

    ;
    gap: 5px;
    border-radius: -20px;
    border-radius: 5;
}

.info {
    padding: 15px;
    flex: 3;
    background-color: #fff;
    /* margin-bottom: 30px; */
}

.title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
}

p {
    color: #666;
}

.ticket {
    border: 1px solid #ddd;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
        margin-bottom: 20px;
    }

    h2 {
        color: #2c7bff;
        font-size: 22px;
    }

    padding: 15px;
}

.number-atendimento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    p {
        font-size: 20px;
    }

    margin-bottom: 9px;
}

.far {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    color: #2c7bff;
}

.new-text {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    label {
        margin-bottom: 10px;
    }

    textarea {
        margin-bottom: 10px;
    }

    button {
        color: #fff;
        border-radius: 10px;
        padding: 15px 17px;
        text-decoration: none;
        cursor: pointer;
        border: none;
        background-color: #2c7bff;
        font-weight: bold;
    }

    input {
        margin-bottom: 30px;
    }
}

button.button-voltar {
    color: #fff;
    border-radius: 10px;
    padding: 10px 17px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #2c7bff;
    /* margin-bottom: 10px; */
}

.info-atendimento {
    display: flex;
    gap: 15px;
}

.info-atendimento span {
    margin: 0;
}

.number-atendimento * {
    margin: 0;
}

.painel p {
    margin: 0;
}

.title h1 {
    font-size: 20px;
    margin: 0 0 10px;
    font-size: 13px;
    /* color: #636363; */
    font-weight: 600;
}

.info p {
    margin: 0;
    font-size: 15px;
    line-height: 1.3;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .info-atendimento {
        flex-direction: column;
    }
}

.logout-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.button-sair {
    color: #fff;
    border-radius: 10px;
    padding: 10px 17px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #979797;
    font-weight: bold;
}

.logado {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.res {
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ececec;
    margin-bottom: 30px;
}

.title.sec h1 {
    font-size: 13px;
    color: #636363;
    font-weight: 600;
}

.res.usuario {
    background: white;
}

.title.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1.assunto {
    font-size: 16px;
}

.far {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    font-size: 20px;
}

.anexos {
    margin-top: 10px;
    font-weight: 500;
}

.fa-file-contract:before {
    content: "\f56c";
    color: black;
    margin-left: 4px;
}