* {
    font-family: "Montserrat", sans-serif;
}
.modal {
    display: none;
    position: fixed;
}
.home {
    display: block;
    margin: 30px 30px;

    p {
        font-size: 15px;
    }
}

.container {
    display: flex;
    gap: 20px;
}

#email-formulario {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.title-email {
    padding: 14px;
    background-color: #f5f5f5;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.container-itens {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    label {
        font-weight: bold;
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 7px;
    }

    input {
        outline: none;
        text-decoration: none;
        margin-bottom: 15px;
        padding: 8px;
    }

    button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        color: #fff;
        background-color: #2d9ea4;
        cursor: pointer;
    }

    button:hover {
        background-color: #fcaf5b;
    }
}
